<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,596},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>blue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,488},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>blue10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,380},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>blue11.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,920},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>blue12.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,812},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>blue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,704},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>blue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,596},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>blue4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,488},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>blue5.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,380},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>blue6.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,299},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>blue7.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,245},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>blue8.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,245},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>blue9.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,245},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>cardbg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,245},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark0.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,245},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,245},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,839},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,731},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,623},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,515},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,407},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,299},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark5.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,191},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark6.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,164},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark7.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,164},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark8.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,164},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark9.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,164},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>drak0.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,245},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>drak1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,164},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>drak10.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,164},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>drak11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,731},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>drak12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,623},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>drak2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,515},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>drak3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>drak4.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,83},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>drak5.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,191},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>drak6.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,164},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>drak7.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,164},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>drak8.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,83},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>drak9.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,83},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>green0.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,83},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>green1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,83},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>green10.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,83},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>green11.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,83},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>green12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,83},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>green2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,839},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>green3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,731},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>green4.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,623},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>green5.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,515},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>green6.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,407},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>green7.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,299},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>green8.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,191},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>green9.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red0.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red1.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red10.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red11.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red12.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red4.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>snall_suit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>snall_suit16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>snall_suit32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>snall_suit48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>04001.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f157bd7f883b9767b8f3a5ab43d55fe:1/1$</string>
            <key>textureFileName</key>
            <string>04001.png</string>
        </dict>
    </dict>
</plist>
