<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardbg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,248},{59,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{59,80}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>snall_suit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,83},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>snall_suit16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>snall_suit32.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>snall_suit48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>white0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,402},{55,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{55,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>white1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{55,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{55,84}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>white10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{63,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{63,90}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>white11.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,309},{63,82}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{63,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>white12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,164},{67,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{67,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>white2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,393},{57,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{57,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>white3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{57,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{57,84}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>white4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{55,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{55,84}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>white5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,345},{55,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{55,84}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>white6.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,229},{57,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{57,84}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>white7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{57,84}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{57,84}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>white8.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,164},{63,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{63,84}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>white9.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,288},{55,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{55,84}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01001.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fb8301bf3b989432a64f721e8becc31:1/1$</string>
            <key>textureFileName</key>
            <string>01001.png</string>
        </dict>
    </dict>
</plist>
