<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1xue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{398,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,40}}</string>
                <key>sourceSize</key>
                <string>{398,40}</string>
            </dict>
            <key>ef_1sha_ac_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{28,42}}</string>
                <key>offset</key>
                <string>{-190,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,23},{28,42}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ac_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,520},{54,56}}</string>
                <key>offset</key>
                <string>{-176,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,23},{54,56}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ac_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,464},{54,56}}</string>
                <key>offset</key>
                <string>{-145,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,23},{54,56}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ac_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,350},{60,56}}</string>
                <key>offset</key>
                <string>{-119,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,23},{60,56}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ac_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,292},{60,56}}</string>
                <key>offset</key>
                <string>{-90,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,23},{60,56}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ac_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,234},{60,56}}</string>
                <key>offset</key>
                <string>{-61,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,23},{60,56}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ac_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{40,56}}</string>
                <key>offset</key>
                <string>{-34,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,23},{40,56}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ac_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{36,56}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,22},{36,56}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ac_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,176},{60,56}}</string>
                <key>offset</key>
                <string>{26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,23},{60,56}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ac_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,576},{48,56}}</string>
                <key>offset</key>
                <string>{49,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,23},{48,56}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ac_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,118},{62,56}}</string>
                <key>offset</key>
                <string>{84,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,23},{62,56}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ac_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,60},{62,56}}</string>
                <key>offset</key>
                <string>{113,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,23},{62,56}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ac_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,408},{54,56}}</string>
                <key>offset</key>
                <string>{143,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,23},{54,56}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ac_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{62,56}}</string>
                <key>offset</key>
                <string>{171,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,23},{62,56}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ac_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,404},{42,56}}</string>
                <key>offset</key>
                <string>{190,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,23},{42,56}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ad_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{400,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{400,42}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ad_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{400,54}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{400,54}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ad_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{400,54}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{400,54}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ad_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{400,54}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,30},{400,54}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ad_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{400,54}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{400,54}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ad_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{400,54}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{400,54}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ad_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{400,54}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{400,54}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ad_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,54}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{400,54}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ad_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{400,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{400,52}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ad_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{400,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{400,52}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ad_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{400,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{400,52}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ad_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,462},{400,48}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{400,48}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ad_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{400,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{400,42}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
            <key>ef_1sha_ad_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{400,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{400,42}}</string>
                <key>sourceSize</key>
                <string>{466,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_shuangsha_yixue.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5058038baaeb3fdcc45431c38b077b0$</string>
            <key>textureFileName</key>
            <string>ef_shuangsha_yixue.png</string>
        </dict>
    </dict>
</plist>
