<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChatText</key>
	<array>
		<dict>
			<key>index</key>
			<string>0</string>
			<key>text</key>
			<string>快点儿吧，我等到花儿都谢了!</string>
		</dict>
		<dict>
			<key>index</key>
			<string>1</string>
			<key>text</key>
			<string>回去再练练吧</string>
		</dict>
		<dict>
			<key>index</key>
			<string>2</string>
			<key>text</key>
			<string>大家好，很高兴见到各位。</string>
		</dict>
		<dict>
			<key>index</key>
			<string>3</string>
			<key>text</key>
			<string>你的牌打的太好了!</string>
		</dict>
		<dict>
			<key>index</key>
			<string>4</string>
			<key>text</key>
			<string>不要走决战到天亮</string>
		</dict>
		<dict>
			<key>index</key>
			<string>5</string>
			<key>text</key>
			<string>我们交个朋友吧，能告诉我你的联系方式吗?</string>
		</dict>
		<dict>
			<key>index</key>
			<string>6</string>
			<key>text</key>
			<string>不好说意思各位，我有事先走了!</string>
		</dict>
		<dict>
			<key>index</key>
			<string>7</string>
			<key>text</key>
			<string>不要吵了不要吵了,专心玩游戏吧!</string>
		</dict>
		<dict>
			<key>index</key>
			<string>8</string>
			<key>text</key>
			<string>怎么炸弹这么多,我都被炸晕了</string>
		</dict>
		<dict>
			<key>index</key>
			<string>9</string>
			<key>text</key>
			<string>不怕神一样的对手,就怕猪一样的队友</string>
		</dict>
		<dict>
			<key>index</key>
			<string>10</string>
			<key>text</key>
			<string>拜托,有你这样玩牌的嘛!</string>
		</dict>
		<dict>
			<key>index</key>
			<string>11</string>
			<key>text</key>
			<string>和你合作真是太愉快了</string>
		</dict>
		<dict>
			<key>index</key>
			<string>12</string>
			<key>text</key>
			<string>怎么又断线,网络怎么这么差啊</string>
		</dict>
	</array>
</dict>
</plist>
