<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardbg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,488},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark11.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,488},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark12.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,488},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,407},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,407},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,407},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark7.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,326},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark8.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,326},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark9.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,326},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,245},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red10.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,245},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red11.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,245},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,164},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,164},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,164},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red6.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,83},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,83},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red8.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,83},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>snall_suit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>snall_suit16.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>snall_suit32.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>snall_suit48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>02001.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d18a00fb779c2253cd276941f99eccf:1/1$</string>
            <key>textureFileName</key>
            <string>02001.png</string>
        </dict>
    </dict>
</plist>
