<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Heart0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Heart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Heart10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Heart11.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,586},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Heart12.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,586},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Heart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,586},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Heart3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,586},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Heart4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Heart5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,586},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Heart6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,513},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Heart7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,513},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Heart8.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,513},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Heart9.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,513},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Spade0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Spade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,513},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Spade10.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,440},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Spade11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,440},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Spade12.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,440},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Spade2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,440},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Spade3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Spade4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,440},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Spade5.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,367},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Spade6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,367},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Spade7.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,367},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Spade8.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,367},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>Spade9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>cardbg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>club0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,367},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>club1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,294},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>club10.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,294},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>club11.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,294},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>club12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,294},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>club2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>club3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,294},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>club4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,221},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>club5.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,221},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>club6.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,221},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>club7.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,221},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>club8.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,148},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>club9.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,148},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark0.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,234},{19,30}}</string>
                <key>offset</key>
                <string>{-22,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{19,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,213},{21,30}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark10.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,190},{21,30}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark11.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,190},{21,30}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark12.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,167},{21,30}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,167},{21,30}}</string>
                <key>offset</key>
                <string>{-24,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,211},{21,30}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,179},{21,30}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark5.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,144},{21,30}}</string>
                <key>offset</key>
                <string>{-22,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark6.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,144},{21,30}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark7.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,121},{21,30}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark8.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{25,30}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{25,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>dark9.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,121},{21,30}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>diamond0.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,148},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>diamond1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>diamond10.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,148},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>diamond11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,75},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>diamond12.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,75},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>diamond2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,75},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>diamond3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>diamond4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>diamond5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,75},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>diamond6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>diamond7.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>diamond8.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>diamond9.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{71,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{71,82}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red0.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,213},{19,30}}</string>
                <key>offset</key>
                <string>{-22,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{19,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,98},{21,30}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red10.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,98},{21,30}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red11.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,75},{21,30}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red12.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,75},{21,30}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,147},{21,30}}</string>
                <key>offset</key>
                <string>{-24,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,115},{21,30}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,83},{21,30}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red5.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,52},{21,30}}</string>
                <key>offset</key>
                <string>{-22,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red6.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,52},{21,30}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red7.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,29},{21,30}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red8.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{25,30}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{25,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>red9.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,29},{21,30}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{21,30}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>03001.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53d5f86a410fa5d830b40c08d6279758:1/1$</string>
            <key>textureFileName</key>
            <string>03001.png</string>
        </dict>
    </dict>
</plist>
