<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{365,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,40}}</string>
                <key>sourceSize</key>
                <string>{365,40}</string>
            </dict>
            <key>ef_3sha_aa_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,419},{45,46}}</string>
                <key>offset</key>
                <string>{-171,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{45,46}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_aa_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,432},{59,56}}</string>
                <key>offset</key>
                <string>{-146,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,15},{59,56}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_aa_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,431},{57,56}}</string>
                <key>offset</key>
                <string>{-114,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,14},{57,56}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_aa_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,371},{59,58}}</string>
                <key>offset</key>
                <string>{-82,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,14},{59,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_aa_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,429},{43,56}}</string>
                <key>offset</key>
                <string>{-53,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,15},{43,56}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_aa_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{59,58}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,14},{59,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_aa_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,432},{55,58}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,14},{55,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_aa_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,371},{55,56}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,15},{55,56}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_aa_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{59,58}}</string>
                <key>offset</key>
                <string>{77,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,14},{59,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_aa_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,371},{47,58}}</string>
                <key>offset</key>
                <string>{104,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,14},{47,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_aa_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,371},{47,58}}</string>
                <key>offset</key>
                <string>{136,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,14},{47,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_aa_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,467},{45,28}}</string>
                <key>offset</key>
                <string>{167,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,44},{45,28}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_ab_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{367,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,21},{367,44}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_ab_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{367,48}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,29},{367,48}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_ab_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{367,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,19},{367,48}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_ab_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{367,48}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,24},{367,48}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_ab_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{367,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,21},{367,48}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_ab_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{367,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,21},{367,48}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_ab_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{367,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,21},{367,48}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_ab_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{367,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,20},{367,46}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_ab_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{367,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,20},{367,46}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_ab_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,371},{367,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{367,46}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_3sha_ab_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{367,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,21},{367,44}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_3sha_xulie.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c9b6effbe203c9b5c77c45bf8b64dc0$</string>
            <key>textureFileName</key>
            <string>ef_3sha_xulie.png</string>
        </dict>
    </dict>
</plist>
