<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{350,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,40}}</string>
                <key>sourceSize</key>
                <string>{350,40}</string>
            </dict>
            <key>ef_5sha_aa_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,475},{27,44}}</string>
                <key>offset</key>
                <string>{-171,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,13},{27,44}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_aa_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,415},{51,58}}</string>
                <key>offset</key>
                <string>{-158,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,13},{51,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_aa_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,355},{51,56}}</string>
                <key>offset</key>
                <string>{-132,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,14},{51,56}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_aa_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,355},{55,58}}</string>
                <key>offset</key>
                <string>{-109,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,13},{55,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_aa_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,355},{49,58}}</string>
                <key>offset</key>
                <string>{-86,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,13},{49,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_aa_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,415},{51,58}}</string>
                <key>offset</key>
                <string>{-56,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,13},{51,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_aa_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,415},{55,58}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,13},{55,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_aa_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,355},{55,58}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,13},{55,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_aa_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,407},{43,50}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,20},{43,50}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_aa_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,415},{53,56}}</string>
                <key>offset</key>
                <string>{43,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,14},{53,56}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_aa_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{55,58}}</string>
                <key>offset</key>
                <string>{70,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,13},{55,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_aa_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,355},{45,58}}</string>
                <key>offset</key>
                <string>{90,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,13},{45,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_aa_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{55,58}}</string>
                <key>offset</key>
                <string>{121,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,13},{55,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_aa_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,415},{45,58}}</string>
                <key>offset</key>
                <string>{141,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,13},{45,58}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_aa_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{39,28}}</string>
                <key>offset</key>
                <string>{163,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,43},{39,28}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_ab_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{351,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,20},{351,48}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_ab_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{351,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,21},{351,50}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_ab_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{351,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,21},{351,50}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_ab_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{351,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,21},{351,50}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_ab_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,355},{351,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,21},{351,50}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_ab_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{351,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,21},{351,50}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_ab_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{351,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,21},{351,50}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_ab_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{351,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,21},{351,50}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_ab_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{351,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,21},{351,50}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_ab_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{351,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,21},{351,50}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_ab_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{351,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,21},{351,50}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_ab_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{351,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,20},{351,50}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>ef_5sha_ab_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{351,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,20},{351,48}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_5sha_xulie.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b7af2c85d72b6a98877648fb7ec6c0c$</string>
            <key>textureFileName</key>
            <string>ef_5sha_xulie.png</string>
        </dict>
    </dict>
</plist>
