<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,476},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>ef_shayu_ab3_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,184},{115,59}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{115,59}}</string>
                <key>sourceSize</key>
                <string>{137,69}</string>
            </dict>
            <key>ef_shayu_ab3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,61},{119,59}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{119,59}}</string>
                <key>sourceSize</key>
                <string>{137,69}</string>
            </dict>
            <key>ef_shayu_ab3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{121,57}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{121,57}}</string>
                <key>sourceSize</key>
                <string>{137,69}</string>
            </dict>
            <key>ef_shayu_ab3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{125,57}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{125,57}}</string>
                <key>sourceSize</key>
                <string>{137,69}</string>
            </dict>
            <key>ef_shayu_ab_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,94},{118,54}}</string>
                <key>offset</key>
                <string>{-25,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,56},{118,54}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,140},{116,62}}</string>
                <key>offset</key>
                <string>{-20,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,51},{116,62}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,245},{110,74}}</string>
                <key>offset</key>
                <string>{-22,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,41},{110,74}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,204},{104,88}}</string>
                <key>offset</key>
                <string>{-24,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,29},{104,88}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,372},{96,98}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{96,98}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,366},{96,100}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{96,100}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,268},{96,102}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{96,102}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,321},{94,104}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{94,104}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{92,104}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{92,104}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,254},{92,106}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{92,106}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{92,108}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{92,108}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{118,76}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{118,76}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,58}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,40},{134,58}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,206},{116,60}}</string>
                <key>offset</key>
                <string>{20,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,52},{116,60}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,150},{116,60}}</string>
                <key>offset</key>
                <string>{21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,56},{116,60}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,145},{116,58}}</string>
                <key>offset</key>
                <string>{23,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,59},{116,58}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_ab_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,80},{118,58}}</string>
                <key>offset</key>
                <string>{23,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,59},{118,58}}</string>
                <key>sourceSize</key>
                <string>{176,130}</string>
            </dict>
            <key>ef_shayu_paopao1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,579},{76,86}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,86},{76,86}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,567},{76,88}}</string>
                <key>offset</key>
                <string>{-8,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,84},{76,88}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{74,88}}</string>
                <key>offset</key>
                <string>{-9,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,86},{74,88}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,556},{74,90}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,84},{74,90}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,503},{74,90}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,84},{74,90}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,538},{76,92}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,83},{76,92}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{76,94}}</string>
                <key>offset</key>
                <string>{-8,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,81},{76,94}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,489},{76,94}}</string>
                <key>offset</key>
                <string>{-7,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,81},{76,94}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,450},{76,96}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,80},{76,96}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,372},{76,98}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,78},{76,98}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,294},{76,100}}</string>
                <key>offset</key>
                <string>{-6,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,76},{76,100}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,292},{78,102}}</string>
                <key>offset</key>
                <string>{-6,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,73},{78,102}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,212},{78,104}}</string>
                <key>offset</key>
                <string>{-5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,71},{78,104}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,287},{80,106}}</string>
                <key>offset</key>
                <string>{-5,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,69},{80,106}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,262},{80,106}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,68},{80,106}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,205},{80,110}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,64},{80,110}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,178},{82,112}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,61},{82,112}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{82,112}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,60},{82,112}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,122},{82,116}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,56},{82,116}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,174},{78,116}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,54},{78,116}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,98},{78,118}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,51},{78,118}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{80,122}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{80,122}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{82,122}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,45},{82,122}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,61},{82,124}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,42},{82,124}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{84,126}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,39},{84,126}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{86,128}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,35},{86,128}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,84},{88,118}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,44},{88,118}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{90,120}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,40},{90,120}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,90},{92,122}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,36},{92,122}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao1_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{94,124}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,33},{94,124}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,441},{96,60}}</string>
                <key>offset</key>
                <string>{-22,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{96,60}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,538},{96,62}}</string>
                <key>offset</key>
                <string>{-18,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,32},{96,62}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,500},{96,64}}</string>
                <key>offset</key>
                <string>{-13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,39},{96,64}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,488},{94,66}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,43},{94,66}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,420},{96,66}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,49},{96,66}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,442},{94,68}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,52},{94,68}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,417},{96,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,54},{96,70}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,528},{96,72}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,55},{96,72}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,464},{96,72}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,57},{96,72}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,424},{96,74}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,57},{96,74}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,348},{96,74}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,58},{96,74}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,344},{96,74}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,58},{96,74}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,369},{96,70}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,62},{96,70}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,470},{98,70}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,62},{98,70}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,614},{96,70}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,60},{96,70}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,542},{96,70}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,59},{96,70}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,344},{96,48}}</string>
                <key>offset</key>
                <string>{18,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,57},{96,48}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,476},{96,40}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,63},{96,40}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,378},{96,42}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,59},{96,42}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,376},{98,42}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,56},{98,42}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,426},{86,32}}</string>
                <key>offset</key>
                <string>{27,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,63},{86,32}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,574},{84,32}}</string>
                <key>offset</key>
                <string>{29,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,60},{84,32}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,292},{84,34}}</string>
                <key>offset</key>
                <string>{30,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,56},{84,34}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,290},{84,36}}</string>
                <key>offset</key>
                <string>{30,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,50},{84,36}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,340},{84,34}}</string>
                <key>offset</key>
                <string>{31,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,49},{84,34}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,204},{84,36}}</string>
                <key>offset</key>
                <string>{32,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,43},{84,36}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>ef_shayu_paopao2_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,254},{84,36}}</string>
                <key>offset</key>
                <string>{32,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,39},{84,36}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_shayu_xulie.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3467c7a8b425783cab6978c978e86f93$</string>
            <key>textureFileName</key>
            <string>ef_shayu_xulie.png</string>
        </dict>
    </dict>
</plist>
