<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_touxiao_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>ef_touxiao_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,192},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>ef_touxiao_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,34}}</string>
                <key>sourceSize</key>
                <string>{110,34}</string>
            </dict>
            <key>ef_touxiao_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{89,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,26}}</string>
                <key>sourceSize</key>
                <string>{89,26}</string>
            </dict>
            <key>ef_touxiao_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,118},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>ef_touxiao_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,154},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_touxiao_xulie.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d566271074f10c76ee004a8f4a6f1f17$</string>
            <key>textureFileName</key>
            <string>ef_touxiao_xulie.png</string>
        </dict>
    </dict>
</plist>
