<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_wen_a1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,297},{60,41}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,110},{60,41}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,293},{62,41}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,110},{62,41}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,411},{66,45}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,108},{66,45}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,605},{72,49}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,106},{72,49}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,525},{78,55}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,103},{78,55}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,336},{86,61}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,100},{86,61}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,679},{94,67}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,96},{94,67}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,736},{100,73}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,93},{100,73}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,540},{106,77}}</string>
                <key>offset</key>
                <string>{9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,92},{106,77}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,538},{110,81}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,89},{110,81}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,424},{112,81}}</string>
                <key>offset</key>
                <string>{9,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,90},{112,81}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,442},{106,91}}</string>
                <key>offset</key>
                <string>{9,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,85},{106,91}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,619},{100,101}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,79},{100,101}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,650},{102,101}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,79},{102,101}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,637},{104,97}}</string>
                <key>offset</key>
                <string>{9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,82},{104,97}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,539},{106,95}}</string>
                <key>offset</key>
                <string>{9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,83},{106,95}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,442},{108,95}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,82},{108,95}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{108,99}}</string>
                <key>offset</key>
                <string>{9,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,78},{108,99}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,641},{108,109}}</string>
                <key>offset</key>
                <string>{9,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,70},{108,109}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,525},{110,117}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,64},{110,117}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,529},{110,125}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,58},{110,125}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{116,131}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,54},{116,131}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,293},{120,139}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,48},{120,139}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,163},{128,145}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,44},{128,145}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,309},{136,151}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,39},{136,151}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{144,137}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,34},{144,137}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{150,141}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{150,141}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,295},{156,145}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{156,145}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,145},{162,147}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{162,147}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,159},{164,151}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{164,151}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{168,153}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{168,153}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{170,155}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{170,155}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{172,157}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{172,157}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{174,159}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{174,159}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,161}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{176,161}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,161},{134,163}}</string>
                <key>offset</key>
                <string>{-20,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{134,163}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,157},{136,165}}</string>
                <key>offset</key>
                <string>{-21,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{136,165}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,426},{112,123}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,48},{112,123}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{112,123}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,48},{112,123}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,411},{112,125}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,46},{112,125}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,312},{112,127}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,44},{112,127}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{112,129}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,42},{112,129}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,415},{112,129}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,42},{112,129}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,297},{112,131}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,40},{112,131}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,632},{80,89}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,82},{80,89}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,611},{80,89}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,82},{80,89}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,550},{80,89}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,82},{80,89}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,529},{80,89}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,82},{80,89}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>ef_wen_a1_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,447},{80,89}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,82},{80,89}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_wen_xulie.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c64941282c63728b4320d802cd8a6d78$</string>
            <key>textureFileName</key>
            <string>ef_wen_xulie.png</string>
        </dict>
    </dict>
</plist>
