<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_loding_aa_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,86},{26,14}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,5},{26,14}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,56},{28,14}}</string>
                <key>offset</key>
                <string>{6,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,6},{28,14}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,178},{28,18}}</string>
                <key>offset</key>
                <string>{16,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,6},{28,18}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,154},{28,22}}</string>
                <key>offset</key>
                <string>{27,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,9},{28,22}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,124},{28,28}}</string>
                <key>offset</key>
                <string>{36,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,15},{28,28}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,396},{24,34}}</string>
                <key>offset</key>
                <string>{45,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,24},{24,34}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,396},{20,44}}</string>
                <key>offset</key>
                <string>{49,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,34},{20,44}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,334},{20,54}}</string>
                <key>offset</key>
                <string>{49,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,46},{20,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,254},{42,60}}</string>
                <key>offset</key>
                <string>{38,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,59},{42,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,356},{78,52}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,73},{78,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,182},{110,52}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,73},{110,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{104,88}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,37},{104,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,236},{92,102}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{92,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{80,110}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{80,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,56},{66,114}}</string>
                <key>offset</key>
                <string>{-28,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{66,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{52,116}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{52,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,124},{56,110}}</string>
                <key>offset</key>
                <string>{-32,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{56,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{62,102}}</string>
                <key>offset</key>
                <string>{-30,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{62,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,330},{64,90}}</string>
                <key>offset</key>
                <string>{-28,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{64,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,436},{68,76}}</string>
                <key>offset</key>
                <string>{-27,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{68,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{70,62}}</string>
                <key>offset</key>
                <string>{-26,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{70,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{68,48}}</string>
                <key>offset</key>
                <string>{-23,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{68,48}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,360},{62,34}}</string>
                <key>offset</key>
                <string>{-19,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{62,34}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,198},{54,24}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{54,24}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,316},{40,16}}</string>
                <key>offset</key>
                <string>{-7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,6},{40,16}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ef_loding_ab_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,86},{26,14}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,5},{26,14}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_XGloding_xulie.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45035c7bbbe970296b24468d744594c9$</string>
            <key>textureFileName</key>
            <string>ef_XGloding_xulie.png</string>
        </dict>
    </dict>
</plist>
