<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_XGying_aab.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,836},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_ying_aa_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,530},{88,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,47},{88,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,836},{122,122}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{122,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{140,140}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{140,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,362},{154,154}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{154,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,544},{162,164}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{162,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,538},{170,170}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{170,170}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{174,174}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{174,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,366},{176,178}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{176,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{178,180}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,184},{176,180}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{176,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,184},{176,176}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{176,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,362},{174,172}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{174,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,538},{158,162}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{158,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,710},{136,136}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{136,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,710},{136,136}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{136,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,832},{136,136}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{136,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{138,138}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{138,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,694},{136,136}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{136,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,556},{136,136}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{136,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,280},{136,136}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{136,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,418},{136,136}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{136,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,698},{136,136}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{136,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,698},{136,136}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{136,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{136,136}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{136,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,142},{136,136}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{136,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,280},{136,136}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{136,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,144},{136,136}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{136,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,142},{136,136}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{136,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,282},{72,72}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,54},{72,72}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,282},{70,72}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,55},{70,72}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{58,62}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,57},{58,62}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,140},{60,70}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,59},{60,70}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,620},{64,68}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,61},{64,68}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,212},{64,62}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,68},{64,62}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_aa_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,66},{58,52}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,77},{58,52}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ef_ying_ab_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,418},{110,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_XGying_xulie.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e60ebe88fcf86b34034ba69c88a56450$</string>
            <key>textureFileName</key>
            <string>ef_XGying_xulie.png</string>
        </dict>
    </dict>
</plist>
