<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_youwin_a1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1694},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1506},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1318},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1734},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1130},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1383},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1032},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,942},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,754},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,681},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,566},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,378},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,330},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,190},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1383},{341,178}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{341,178}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{349,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{349,186}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1694},{347,184}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{347,184}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1318},{319,150}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,29},{319,150}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{309,140}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{309,140}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>ef_youwin_a1_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,144},{295,120}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,43},{295,120}}</string>
                <key>sourceSize</key>
                <string>{353,196}</string>
            </dict>
            <key>youwin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,330},{127,42}}</string>
                <key>offset</key>
                <string>{-133,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{127,42}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>youwin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,374},{119,42}}</string>
                <key>offset</key>
                <string>{111,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,23},{119,42}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
            <key>youwin03.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,266},{289,62}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,12},{289,62}}</string>
                <key>sourceSize</key>
                <string>{457,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_youwin_tietu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd802d5b572d74bb90123079b88520e7$</string>
            <key>textureFileName</key>
            <string>ef_youwin_tietu.png</string>
        </dict>
    </dict>
</plist>
