<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ef_zhadan_0021.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,176},{160,158}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,11},{160,158}}</string>
			<key>sourceSize</key>
			<string>{178,178}</string>
		</dict>
		<key>ef_zhadan_3321.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,2},{172,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,172}}</string>
			<key>sourceSize</key>
			<string>{172,172}</string>
		</dict>
		<key>ef_zhadan_6654.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,336},{144,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,21},{144,150}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ef_zhadan_c2.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,198},{44,42}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{44,42}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>ef_zhadan_d2.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,631},{77,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,1},{77,21}}</string>
			<key>sourceSize</key>
			<string>{85,23}</string>
		</dict>
		<key>ef_zhadan_f10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,746},{116,110}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,39},{116,110}}</string>
			<key>sourceSize</key>
			<string>{178,178}</string>
		</dict>
		<key>ef_zhadan_f10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,398},{140,126}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,32},{140,126}}</string>
			<key>sourceSize</key>
			<string>{178,178}</string>
		</dict>
		<key>ef_zhadan_f10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,482},{140,126}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,31},{140,126}}</string>
			<key>sourceSize</key>
			<string>{178,178}</string>
		</dict>
		<key>ef_zhadan_f10004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,198},{156,136}}</string>
			<key>offset</key>
			<string>{-4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,23},{156,136}}</string>
			<key>sourceSize</key>
			<string>{178,178}</string>
		</dict>
		<key>ef_zhadan_f10005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,198},{156,136}}</string>
			<key>offset</key>
			<string>{-4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,23},{156,136}}</string>
			<key>sourceSize</key>
			<string>{178,178}</string>
		</dict>
		<key>ef_zhadan_f10006.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,616},{136,124}}</string>
			<key>offset</key>
			<string>{8,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,24},{136,124}}</string>
			<key>sourceSize</key>
			<string>{178,178}</string>
		</dict>
		<key>ef_zhadan_f10007.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,126},{130,122}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,29},{130,122}}</string>
			<key>sourceSize</key>
			<string>{178,178}</string>
		</dict>
		<key>ef_zhadan_f10008.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,2},{130,122}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,29},{130,122}}</string>
			<key>sourceSize</key>
			<string>{178,178}</string>
		</dict>
		<key>ef_zhadan_f10009.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,526},{136,128}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,26},{136,128}}</string>
			<key>sourceSize</key>
			<string>{178,178}</string>
		</dict>
		<key>ef_zhadan_f10010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,610},{136,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,22},{136,134}}</string>
			<key>sourceSize</key>
			<string>{178,178}</string>
		</dict>
		<key>ef_zhadan_f10011.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,478},{138,136}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,20},{138,136}}</string>
			<key>sourceSize</key>
			<string>{178,178}</string>
		</dict>
		<key>ef_zhadan_f10012.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,336},{140,144}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,16},{140,144}}</string>
			<key>sourceSize</key>
			<string>{178,178}</string>
		</dict>
		<key>ef_zhadan_f10013.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,250},{142,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,16},{142,146}}</string>
			<key>sourceSize</key>
			<string>{178,178}</string>
		</dict>
		<key>ef_zhadan_h10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,945},{79,77}}</string>
			<key>offset</key>
			<string>{-8,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,77}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>ef_zhadan_h10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,503},{95,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,19},{95,57}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>ef_zhadan_h10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,858},{79,85}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,8},{79,85}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>ef_zhadan_yy1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{194,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,201}}</string>
			<key>sourceSize</key>
			<string>{194,201}</string>
		</dict>
		<key>ef_zhadan_yy2.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,371},{130,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,47}}</string>
			<key>sourceSize</key>
			<string>{130,47}</string>
		</dict>
		<key>ef_zhadan_yy3.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,244},{125,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,41}}</string>
			<key>sourceSize</key>
			<string>{125,41}</string>
		</dict>
		<key>ef_zhadan_yy4.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,176},{13,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,10}}</string>
			<key>sourceSize</key>
			<string>{13,10}</string>
		</dict>
		<key>ef_zhadan_yy5.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,600},{22,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,29}}</string>
			<key>sourceSize</key>
			<string>{22,29}</string>
		</dict>
		<key>ef_zhadan_yy6.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,600},{91,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,32}}</string>
			<key>sourceSize</key>
			<string>{91,32}</string>
		</dict>
		<key>ef_zhadan_yy7.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,693},{91,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,31}}</string>
			<key>sourceSize</key>
			<string>{91,31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ef_zhadan_xuelie.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d3b9b59e2c2e1be7ce0409073a06db44$</string>
		<key>textureFileName</key>
		<string>ef_zhadan_xuelie.png</string>
	</dict>
</dict>
</plist>
