<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_zhujiem_ab_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,224},{42,62}}</string>
                <key>offset</key>
                <string>{-161,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,86},{42,62}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,124},{108,98}}</string>
                <key>offset</key>
                <string>{-164,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,67},{108,98}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1860},{146,154}}</string>
                <key>offset</key>
                <string>{-163,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,40},{146,154}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1862},{172,184}}</string>
                <key>offset</key>
                <string>{-159,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{172,184}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1044},{188,206}}</string>
                <key>offset</key>
                <string>{-155,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{188,206}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1302},{200,224}}</string>
                <key>offset</key>
                <string>{-150,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{200,224}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,800},{210,236}}</string>
                <key>offset</key>
                <string>{-145,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{210,236}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,536},{220,248}}</string>
                <key>offset</key>
                <string>{-138,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{220,248}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1544},{228,258}}</string>
                <key>offset</key>
                <string>{-131,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{228,258}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,800},{236,268}}</string>
                <key>offset</key>
                <string>{-125,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{236,268}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1302},{240,274}}</string>
                <key>offset</key>
                <string>{-117,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{240,274}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,554},{244,280}}</string>
                <key>offset</key>
                <string>{-109,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{244,280}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,520},{246,286}}</string>
                <key>offset</key>
                <string>{-103,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,11},{246,286}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,276},{248,288}}</string>
                <key>offset</key>
                <string>{-97,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,15},{248,288}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,276},{244,288}}</string>
                <key>offset</key>
                <string>{-91,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,19},{244,288}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,526},{244,284}}</string>
                <key>offset</key>
                <string>{-84,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,27},{244,284}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,306},{246,280}}</string>
                <key>offset</key>
                <string>{-76,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,33},{246,280}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,768},{248,276}}</string>
                <key>offset</key>
                <string>{-67,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,39},{248,276}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,536},{262,278}}</string>
                <key>offset</key>
                <string>{-51,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,39},{262,278}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,262},{272,290}}</string>
                <key>offset</key>
                <string>{-36,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,27},{272,290}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{272,300}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,17},{272,300}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{272,304}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,13},{272,304}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{272,308}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,10},{272,308}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{272,308}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,10},{272,308}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{272,308}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,10},{272,308}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{272,308}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,10},{272,308}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,308}}</string>
                <key>offset</key>
                <string>{36,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,10},{272,308}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1552},{270,308}}</string>
                <key>offset</key>
                <string>{46,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,10},{270,308}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1552},{268,306}}</string>
                <key>offset</key>
                <string>{55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,12},{268,306}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{264,302}}</string>
                <key>offset</key>
                <string>{65,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,16},{264,302}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{262,300}}</string>
                <key>offset</key>
                <string>{74,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,18},{262,300}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,2},{258,294}}</string>
                <key>offset</key>
                <string>{82,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,24},{258,294}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,266},{252,290}}</string>
                <key>offset</key>
                <string>{90,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,28},{252,290}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,522},{248,284}}</string>
                <key>offset</key>
                <string>{98,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,34},{248,284}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,800},{242,276}}</string>
                <key>offset</key>
                <string>{107,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,42},{242,276}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1030},{238,270}}</string>
                <key>offset</key>
                <string>{114,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,48},{238,270}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1038},{232,262}}</string>
                <key>offset</key>
                <string>{122,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,56},{232,262}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1044},{224,252}}</string>
                <key>offset</key>
                <string>{129,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,65},{224,252}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,786},{216,242}}</string>
                <key>offset</key>
                <string>{135,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,75},{216,242}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1302},{204,228}}</string>
                <key>offset</key>
                <string>{141,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,86},{204,228}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1804},{192,214}}</string>
                <key>offset</key>
                <string>{146,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,97},{192,214}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1862},{178,192}}</string>
                <key>offset</key>
                <string>{150,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,112},{178,192}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1860},{156,164}}</string>
                <key>offset</key>
                <string>{154,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,129},{156,164}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{122,120}}</string>
                <key>offset</key>
                <string>{157,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,153},{122,120}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>ef_zhujiem_ab_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,224},{54,72}}</string>
                <key>offset</key>
                <string>{154,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,174},{54,72}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_zhujiem_xulie.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf374f433f0bfbe9a6ac4c57fc249095$</string>
            <key>textureFileName</key>
            <string>ef_zhujiem_xulie.png</string>
        </dict>
    </dict>
</plist>
